[Desktop Entry]
Encoding=UTF-8
Name=RubyMine
Exec=PATH_TO_RUBYMINE_DIR/bin/rubymine.sh
Icon=PATH_TO_RUBYMINE_DIR/bin/rubymine.png
Type=Application
Categories=Development;
StartupWMClass=RubyMine
